# Input files
inputs/version.txt

# Intermediate files
main.acn
main.acr
main.alg
main.aux
main.glg
main.glo
main.gls
main.idx
main.ilg
main.ind
main.ist
main.log
main.out
main.pdf
main.toc

# Vim swap file
*.swp

# Compiled output
The\ Unclassed\ System\ Core\ Rulebook*.pdf
